@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #ccccdd;
}

body{
    background-color: #6699aa;
}

#headbar{
    /* font-family: 'Homemade Apple', cursive; */
    background-color: #cc3355;
    font-size: 40px;
    text-align: center;
    box-shadow: 0px 1px 10px #000000;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: #dd6688;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Bilbo', cursive;
    font-size: 40px;
    box-shadow: 0 5px 10px;
    background-size: cover;
}

.text{
    height: 500px;
    display: none;
}

.image{
    background-size: cover;
}

#box1{
    background-image: url("assests/1.jpg");
}

#box2{
    background-image: url("assests/2.jpg");
}

#box3{
    background-image: url("assests/3.jpg");
}

#box4{
    background-image: url("assests/4.jpg");
}

#box5{
    background-image: url("assests/5.jpg");
}

#box6{
    background-image: url("assests/6.jpg");
}

#box7{
    background-image: url("assests/7.jpg");
}